# P6 Part B

**Team Jarlsberg**

Zachary Noel

Erin Dolson

Siddhesh Mahadeshwar

4. Confirm the results above of the Apriori algorithm.  For R, the arules package is available.  Matlab has the Association Rules package available from File Exchange1.  Pythonhas the ‘mlxtend‘ library.

In [8]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sb
import math 
%matplotlib inline

from mlxtend.preprocessing import TransactionEncoder 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [9]:
item_data = []
with open("A.txt") as inputfile:
   for line in inputfile:
       item_data.append(line.strip().split(','))

te = TransactionEncoder()
tedata = te.fit(item_data).transform(item_data)
itemdf = pd.DataFrame(tedata, columns = te.columns_)
fi = apriori(itemdf, min_support=0.5, use_colnames=True)
fi

    support      itemsets
0       0.8          ( E)
1       1.0          ( K)
2       0.6          ( O)
3       0.6          ( Y)
4       0.6           (M)
5       0.8      ( K,  E)
6       0.6      ( O,  E)
7       0.6      ( K,  O)
8       0.6      ( Y,  K)
9       0.6       ( K, M)
10      0.6  ( K,  O,  E)